/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #0d0d0d;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
header {
    background-color: #fcfcfd;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #cc0000;
}

header img.logo {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.title {
    font-size: 24px;
    font-family: "Audiowide", sans-serif;
    margin: 0;
    margin-left: 8px;
    color: #cc0000;
    text-align: center;
}

.tagline {
    font-size: 18px;
    color: #000066;
    font-style: italic;
    font-family: "Sofia", sans-serif;
    margin-top: 8px;
    flex-grow: 1;
    text-align: center;
}

nav {
    display: flex;
}

nav a {
    margin: 0 15px;
    color: #000066;
    text-decoration: none;
    padding: 10px;
    font-size: 1.6em;
    border-radius: 4px;
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #cc0000;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #000066;
}
/* Hero Section Styles */
.hero {
    display: flex;
    padding: 20px;
    border-radius: 1px;
    background-image: url(./hd_bg.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #000066;
    height: 100vh; /* Full viewport height */
}

.hero-text-container {
    width: 90%;
    max-width: 90%;
    height: 80vh; /* Fixed height */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    color: #000066;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Make content scrollable */
}

.hero-text-container h1 {
    color: #cc0000;
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-text-container p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    color: #000066;
    margin-bottom: 20px;
    line-height: 1.6;
}

.hero-text-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.hero-text-container ul li {
    margin-bottom: 10px;
}

.hero-text-container h2 {
    color: #cc0000;
    font-family: "Poppins", sans-serif;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .hero-text-container {
        width: 90%;
        height: 50vh; /* Adjust height for smaller screens */
        padding: 20px;
    }

    .hero-text-container h1 {
        font-size: 2em;
    }

    .hero-text-container h2 {
        font-size: 1.5em;
    }

    .hero-text-container p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .hero-text-container {
        width: 95%;
        height: 40vh; /* Adjust height for smaller screens */
        padding: 15px;
    }

    .hero-text-container h1 {
        font-size: 1.8em;
    }

    .hero-text-container h2 {
        font-size: 1.3em;
    }

    .hero-text-container p {
        font-size: 0.9em;
    }
}

footer {
    height: 12vh;
}

/* About Section Styles */
.about-container {
    width: 96%;
    margin: auto;
    padding: 20px;
    height: 50%;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: #000066;
    opacity: 100%;
}

.about-section h2 {
    color: #000066;
    font-family: "Poppins", sans-serif;
}

.about-section p {
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

/* States Section Styles */
.states {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.state {
    flex: 1;
    height: 300px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 90%;
    font-family: "Poppins", sans-serif;
}

#andhrapradesh {
    background-image: url('./AP.jpg');
}

#telangana {
    background-image: url('./TS.jpg');
}

#tamilnadu {
    background-image: url('./TN.jpg');
}

#kerala {
    background-image: url('./KERALA.jpg');
}

#karnataka {
    background-image: url('./KA.jpg');
}

/* Services Section Styles */
.service-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    height: auto;
    flex-direction: row;
}

.services-section {
    margin-bottom: 20px;
}

.services-section h2 {
    width: 100%;
    margin: auto;
    padding: 10px;
    height: 50%;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: #000066;
    opacity: 100%;
}

.services-section h3 {
    color: #cc0000;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
}

.services-section p {
    color: #000066;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

.service-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Slideshow Section Styles */
.slideshow-section {
    margin: 20px 20px;
}

.slideshow-container {
    width: 650px;
    height: 500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 5.6s ease;
}

.active {
    background-color: #f9f9f9;
}

/* Contact Section Styles */
.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    height: auto;
}

.contact-section {
    margin-bottom: 20px;
}

.contact-section h2 {
    width: 100%;
    margin: auto;
    padding: 10px;
    height: 50%;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: #000066;
    opacity: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 1.4em;
    color: #000066;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #000066;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.contact-form button:hover {
    background-color: #f9f9f9;
    color: #000066;
}
.w3-small-w3-well{
    color: #000066;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
}

/* Feedback Section Styles */
.feedback-section {
    margin-top: 20px;
    max-height: 450px;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
}

.feedback-section h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.feedback-carousel {
    position: relative;
    width: 90%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.feedback-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.client-name {
    font-weight: bold;
    margin-bottom: 10px;
    color: #cc0000;
    font-family: "Poppins", sans-serif;
    font-size: 1.4em;
}

.client-comment {
    color: #000066;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .container,
    .service-container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container,
    .service-container {
        width: 90%;
    }

    .service-item {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .container,
    .service-container {
        width: 100%;
        padding: 10px;
    }

    .service-item {
        font-size: 0.9em;
    }
    
    .contact-form input,
    .contact-form textarea {
        font-size: 0.8em;
    }

    .contact-form button {
        font-size: 0.8em;
    }
}

@media (max-width: 700px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    header img.logo {
        margin: 0 auto;
    }

    header h1,
    header .tagline {
        text-align: center;
        margin: 10px 0;
    }

    .hero-text-container,
    .text-container {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .states {
        flex-direction: column;
    }

    .state {
        height: 150px;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .state {
        height: 100px;
        font-size: 1em;
    }
    .slideshow-container {
        width: 100%;
        height: auto;
        

    }
    .nav a:hover::after{
        width: 100%;
    }
}
